<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<style>
    body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
</style>

<body>
    <h4>Reset password for account {username}</h4>
    <p>Hello {fullName}! Are you making an requesting to reset your account's password at customer management website?
    </p>
    <p>If it is you, here is your new password: <b>{password}</b></p>
    <b>If not, please use this password and change your password for account's security</b>
    <h5>Thanks and have a good day!</h5>
</body>

</html>