<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
    }
</style>

<body>
    <h1>Get your contract</h1>
    <p>Dear {customerName},</p>
    <p>Our company is very grateful to your side for trusting and accompanying us.</p>
    <p>We send this email to you with an attachment of the contract agreement between the two parties after the sale.
    </p>
    <p>Please help us review this contract and report back immediately if there are errors.</p>
    <p>Have a nice day!</p>
</body>

</html>